*
!resources/
!build/
!include/
!program/
!source/
!shaders/
!glad/

!resources/*
!resources/planet/*
!resources/texture/*
!build/*
!program/*.c
!include/*.h
!source/*.c
!shaders/*.glsl
!glad/*.h
!glad/*.c
!.gitignore
!makefile
!*.md
!*.pdf